<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">  
        <div class="card-header card-custom-header">
          Request(s)
          <input type="text" class="form-control" placeholder="Search...">
        </div> 
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Request Id</th>
                <th>Service Seeker</th>
                <th>Service Providers</th>
                <th>Booking for</th>
                <th>City</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of [1,2,3,4,5]">
                <td>
                  <div>#415215</div>
                </td>
                <td> 
                  <div>Yiorgos Avraamu</div>
                </td>
                <td> 
                  <div>Rodel tancoi</div>
                </td>
                <td>
                  <div class="small text-muted">
                    <span>abc, xyz</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div>Rajkot</div>
                </td>
                <td>
                  <select class="form-control" id="category">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
