<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">  
        <div class="card-header card-custom-header">
          Users
          <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Contact number</th>
                <th>Block</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of [1,2,3,4,5]">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td> 
                <td> 
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <div>abc@gmail.com</div>
                </td>
                <td>
                  <div>Rajkot</div>
                </td>
                <td>
                  <div>+91 9595626412</div>
                </td>
                <td>
                  <label class="switch switch-3d switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider"></span>
                  </label>
                </td>
                <td>
                  <label class="switch switch-3d switch-primary">
                    <div class="action-buttons">
                      <button type="button" class="btn btn-primary m-right-6">
                        <i class="fa fa-eye mt-4"></i>
                      </button>
                    </div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
