<app-header
  [navbarBrandRouterLink]="['/categories']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'https://st3.depositphotos.com/1000384/15258/v/600/depositphotos_152587018-stock-illustration-handyman-services-solid-gubber-stamp.jpg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'https://st3.depositphotos.com/1000384/15258/v/600/depositphotos_152587018-stock-illustration-handyman-services-solid-gubber-stamp.jpg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
   
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar> 
  <!-- Main content -->
  <main class="main" style="margin-top: 20px;">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>&copy; 2021 Handyman App.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">DevZone Parth</a></span>
</app-footer>
