<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Settings</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="appName">App Name</label>
            <input type="text" class="form-control" placeholder="Enter your company name">
          </div>
          <div class="form-group">
            <label for="razorpaySecret">Razorpay Secret Key</label>
            <input type="text" class="form-control" placeholder="Enter street name">
          </div>
          <div class="row">
              <label for="razorpayClient">Razorpay Client Key</label>
              <input type="text" class="form-control" placeholder="Enter your city">
          </div>
          <div class="form-group">
            <label for="razorpayLive">Enabled Razorpay Live</label>
            <input type="text" class="form-control" placeholder="Country name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
