<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">  
        <div class="card-header card-custom-header">
          Feedback(s)
          <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Name</th>
                <th>Number</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of [1,2,3,4,5]">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td> 
                <td> 
                  <div>Yiorgos Avraamu</div>
                </td>
                <td>
                  <div>+91 554513465</div>
                </td>
                <td style="width: 70%;">
                  <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates consequuntur vel autem corporis eius. Reprehenderit corporis molestias cupiditate quisquam magni eius natus nesciunt ipsam? Ab aut esse earum natus iste?</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
