<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-custom-header">
          Feedback(s)
          <!-- <input type="text" class="form-control" placeholder="Search..." /> -->
        </div>
        <div class="card-body">
          <table
            class="table table-responsive-sm table-hover table-outline mb-0"
          >
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Name</th>
                <th>Number</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of feedback">
                <td class="text-center">
                  <div
                    style="
                      position: relative;
                      display: inline-block;
                      width: 56px;
                      height: 56px;
                    "
                    class="avatar"
                  >
                    <img
                      style="
                        height: 50px !important;
                        width: 50px !important;
                        object-fit: cover;
                        border-radius: 25px;
                      "
                      [src]="
                        item?.userDetails?.image
                          ? item?.userDetails?.image
                          : 'assets/img/avatars/1.jpg'
                      "
                      class="img-avatar"
                      alt="admin@bootstrapmaster.com"
                    />
                  </div>
                </td>
                <td>
                  <div>{{ item?.fullName }}</div>
                </td>
                <td>
                  <div>+91 {{ item?.contactNumber }}</div>
                </td>
                <td style="width: 70%">
                  <div>{{ item?.message }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
